body, html {
    overflow-y: scroll;
    font-family: 'Alegreya Sans SC';
    color: #734B5E;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
    margin-bottom: 0;
}
h3 {
    font-size: 22px;
}
body, html, main {
    margin: 0;
    width: 100%;
    height: 100%;
}

/* 
* 
* Header 
* 
*/
header {
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
.logo {
    height: 120px;
    float: left;
    padding-top: 5px;
}
.name {
    padding-top: 1px;
    text-align: right;
    white-space: nowrap;
}

/* 
* 
* Content 
* 
*/
.content {
    border-top: 4px solid #546A76;
    height: 100%;
}

/* 
* 
* Banner 
* 
*/
.banner {
    height: 90%;
    padding-bottom: 25px;
    padding-top: 40px;
}

/* 
* 
* Projects 
* 
*/
.projects {
    height: 45%;
}
.item {
    height: 100%;
    padding-top: 30px;
}
.title {
    width: 100%;
    text-align: center;
}
img {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    border-radius: 10px;
    height: 100%;
}
p {
    font-size: 22px;
    margin-top: 0;
    padding-top: 10px;
}
a {
    text-decoration: none;
    color: #734B5E;
    height: 90%;
    width: 100%;
}
